<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ACME_Generator/src/edu/gmu/sdalab/sos/Covert2AcmeGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.gmu.sdalab.sos.Covert2AcmeGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/Users/alireza/Documents/GMU/MobileSercurity/Tools/ACME-Generator/Executable/apps/com_fsck_k9_22004.xml&#10;/Users/alireza/Documents/GMU/MobileSercurity/Tools/ACME-Generator/Executable/apps/&#10;/Users/alireza/Documents/GMU/MobileSercurity/Tools/ACME-Generator/Executable/resources/templates"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ACME_Generator"/>
</launchConfiguration>
